################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/GLUT.tlog
/GLUT/.vscode/.browse.VC.db
/GLUT/.vscode/.browse.VC.db-shm
/GLUT/.vscode/.browse.VC.db-wal
/GLUT/x64/Debug
/Project1.VC.VC.opendb
/Project1.VC.db
